.boutcolor{	
	background-color: mediumseagreen;
}
.Marge{
	margin-right: 50px;

}
.imgcarousel{
	height: 450px;
	width: 100%;
}
.container-fluid{
	      margin-left: 30px;
}
.textcolor{
	color: white;
}
.contactcolor{
	background-color: gold;
	border-radius: 5px;
	border: none;
}
.modiffot3{
	border-radius: 8%;
}
#progress{
	height: 50%;
}
.col-sm-4 img{
	margin-left: 2%;
	margin-top: 2%;
}
.imagesfond{
    background-image: url("../images/3.jpg");
	height: 500px;
}
.col-sm-6 h2 h4 p{
	margin-top: 7%;
	margin-left: 20px;
	text-align: center;
}
.mesmarge1{
	margin: 3cm 0cm 0cm 4cm;

}
.mesmarges2{
	margin: -9cm 0cm 0cm 20cm;
}
.coulblanc{
	color: white;
}
.ramene{
	margin-left: -9%;

}
.rename1{
	margin-left: -6%;
	margin-top: 3%;
}
.imagefond{
    background-image: url("../images/4.jpg");
	height: 530px;
}
.fondblanc{
	background-color: white;
	border-radius: 4%;
	margin-top: 10%;
	margin-left: 2cm;
	padding: 2% 2% 2% 2%;
	width: 28%;
	height: 45%;
}
.container{
	margin-left: 10%;
}
/*arrondir les images*/
.arrond{
	border-radius: 50%;
	width: 25%;
	height: 25%;
	border: 2px solid green;
}
.coulnom{
	margin-left: 1cm;
	opacity: 0.2;
}
div.imagefond{
	filter: brightness(75%);
}
.position{
	margin-left: 3%;
}
.position1{
	margin-left: 3%;
}
.possousdiv1{
	width: 45%;
	height: 63%;
   margin-left: 2.8%;
}
.possousdiv2{
	width: 45%;
	height: 63%;
	margin-left: 2.8%;
}
.interlign{
	line-height: 125%;
}
.piedpage{
	margin-left: 5%;
	margin-right: -4%;
}
.divcontact{
	margin-left: 7%;
	color: white;
}
.redress{
	margin-top: -5.7%;
	margin-left: 17%;
}
.redress1{
	margin-top: -5.7%;
	margin-left: 8%;
}
/*uniquement la classe ci-dessous est l'une des classes utilisées dans la page about*/
.alignicon{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
	column-gap: 2mm;
}
.redress2{
	margin-top:-5.7%;

}
.arrplan{
	background-color: whitesmoke;
	width: 85.4%;
	height: 300px;
	margin-left: 8.7%;
	margin-bottom: 6%;
}